{# app/Resources/views/general.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}NALO - Nos Amis les Oiseaux{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/nalo.css') }}">
    <link rel="icon" href="{{ asset('images/favicon.ico') }}">
  {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{#{ path('home') }#}">NALO - Nos Amis les Oiseaux</a>

              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="http://www.bootply.com" target="ext">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-target">
                <ul class="nav navbar-nav navbar-right">
                    {# Gestion des droits à revoir #}
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{#{ path('admin') }#}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> Bonjour, {{ app.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}">Déconnection</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> Non Connecté <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{#{ path('login') }#}">Connectez-vous</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            <div id="content" class="col-md-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <hr>
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>Site de l'équipe OC-P5-NALO © {{ 'now'|date('Y') }}.</p>
        </footer>
    </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>{# empty Twig template #}
