{# src/NaloBundle/Resources/views/bundle.html.twig #}
{% extends "::general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

  {% block nalo_body %}
  {% endblock %}

{% endblock %}
